/* ================= imports ==============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
/* font-family: 'Poppins', sans-serif; */

/*================== CSS variables ========== */

:root {
  /* Container */
  --container-width: 70%;

  /* Colors */
  --color-primary: #9859e3;
  --color-primary-rgb: 152, 89, 227;
  --color-primary-accent: #542ac3;
  --color-secondary: #ff6397;
  --color-secondary-accent: #fe7ea9;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #8491a5;
  --color-gray-rgb: 132, 145, 165;
  --primary-linear-gradient: linear-gradient(90deg, rgba(152, 89, 227, 1) 0%, rgba(84, 42, 195, 1) 100%);
  --secondary-linear-gradient: linear-gradient(90deg, rgba(255, 99, 151, 1) 0%, rgba(254, 126, 169, 1) 100%);

  /* Fonts and Typography */
  --body-font : 'Poppins', sans-serif;
}

/*================ Base =================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
button {
  border: none;
  outline: none;
}

/*=================== Layouts ================*/
.container {
  width: var(--container-width); /* 70% */
  margin-inline: auto; /* margin-left와 margin-right를 한번에 설정한다. */
}


/*==================== Reusable Classes & Selectors =============== */

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.btn {
  display: block;
  padding: 10px 30px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 50px;
  width: fit-content; /* 왜 하는지 모르겠음 */
}

.btn-primary {
  background: var(--primary-linear-gradient);
  color: var(--color-white);
}

.btn-secondary {
  background: var(--secondary-linear-gradient);
  color: var(--color-white);
}

.tag {
  display: block;
  padding: 3px 15px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 50px;
  width: fit-content; /* 왜 하는지 모르겠음 */
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 0.8rem; /* 16px이 1rem이니까 12.8px */
  font-weight: 600;
}

/*====================== Header ==================== */
header {
  background: var(--primary-linear-gradient);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  color: var(--color-white);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 15% !important;
  padding-right: 15% !important;
  z-index: 999;
  background: var(--color-primary-accent);
  padding: 2rem;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.6);
}

.nav__logo {
  color: var(--color-secondary);
}

.nav__menu {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: flex-end;
}

.nav__link {
  color: var(--color-white);
}

.mb-show {
  display: none;
}

.show {
  right: 0;
}

/*======================== Home ===================*/
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 4rem 0;
}

.home__data, .home__image {
  flex: 50%;
}

.home__data--title {
  color: var(--color-white);
  font-size: 2.5rem;
}

.home__data--title span {
  font-weight: 200;
}

.home__data--desc {
  margin-top: 2rem;
  color: var(--color-white);
  line-height: 2;
}

.home__image img {
  width: 100%;
  height: auto;
}

/*===================== About ======================*/
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.about__image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about__tag {
  color: var(--color-primary);
  background-color: rgba(var(--color-primary-rgb), 0.2);
}

.about__data--title {
  font-size: 2.5rem;
  font-weight: 200;
}

.about__data--desc {
  font-size: 0.8rem;
  padding: 10px 0;
}

.about__data--quote {
  font-size: 1.2rem;
  color: var(--color-gray);
  padding: 10px 0;
}

.about__data--quote i {
  font-size: 2.5rem;
  color: var(--color-secondary);
}
/*====================== Why Choose Us =================== */
.whychooseus {
  padding: 2rem 0;
}

.whychooseus__tag span {
  color: var(--color-primary);
  background-color: rgba(var(--color-primary-rgb), 0.2);
  margin: 0 auto;
}

.whychooseus__title {
  font-size: 2.5rem;
  font-weight: 200;
  text-align: center;
  padding-top: 1rem;
}

.whychooseus__data {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  margin-top: 3rem;
  margin-bottom: 3rem;
  gap: 2rem;
}

.whychooseus__card {
  flex: 1;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
}

.whychooseus__card i {
  display: inline-block;
  font-size: 3rem;
  padding: 15px;
  color: var(--color-primary);
}

.whychooseus__card--title {
  font-size: 1.5rem;
  font-weight: 300;
}

.whychooseus__card--desc {
  font-size: 0.8rem;
  padding: 10px 0px;
  color: var(--color-gray);
}

/*============================= Services ==================*/
.services {
  background: var(--primary-linear-gradient);
}

.services__tag {
  background-color: rgba(255, 255, 255, 0.2);
}

.services__title {
  font-size: 2.5rem;
  font-weight: 200;
  color: var(--color-white);
}

.services__data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.services__item {
  flex: 25%;
  padding: 5px;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.services__item i {
  font-size: 2rem;
  color: var(--color-secondary);
}

.services__desc {
  font-size: 0.8rem;
  padding: 10px 0;
  color: var(--color-white);
}

.services__buttons {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
/*===================== Testimonials ================*/
.testimonial__tag span {
  color: var(--color-primary);
  background-color: rgba(var(--color-primary-rgb), 0.2);
  margin-left: auto;
}

.testimonial__title {
  font-size: 2.5rem;
  font-weight: 200;
  text-align: right;
}

.testimonial__data {
  margin: 4rem 0;
  background: var(--primary-linear-gradient);
  border-radius: 10px;
}

.testimonial__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 8rem;
}

.testimonial__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}

.testimonial__text {
  font-size: 1.2rem;
  color: var(--color-white);
  padding: 20px 0;
  text-align: center;
}

.testimonial__name {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--color-white);
}

.testimonial__company {
  font-size: 0.8rem;
  padding: 10px 0;
  color: var(--color-white);
}
/* ======== SWIPER ======== */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--color-white);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.2rem;
}

.swiper-pagination {
  bottom: 85px !important;
}

.swiper-pagination-bullet {
  background-color: var(--color-gray);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-white) !important;
}

/*========================= Contact Us ============================*/
.contact {
  background: var(--primary-linear-gradient);
}

.contact__tag {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--color-white);
  text-align: center;
}

.contact__title {
  font-size: 2.5rem;
  font-weight: 200;
  color: var(--color-white);
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  padding: 20px 0;
}

.contact__form > input {
  height: 50px;
}

.contact__form > textarea {
  resize: none;
  padding-top: 10px;
}

.contact__form > input,
.contact__form > textarea {
  width: 40%;
  border: 1px solid var(--color-secondary);
  border-radius: 25px;
  outline: none;
  text-indent: 10px;
}

.contact__button-wrapper {
  width: 40%;
  display: flex;
  justify-content: end;
}

/*======================== Footer ======================== */
.footer__container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.footer__container, 
.footer__navigation, 
.footer__links {
  display: flex;
  justify-content: space-evenly;
  gap: 2.5rem;
  flex: 25%;
}

.footer__logo span {
  color: var(--color-secondary);
}

.footer__text {
  padding-top: 2rem;
}

.footer__navigation h2,
.footer__contact h2 {
  font-weight: 300;
  padding-bottom: 1rem;
}

.footer__links {
  flex-direction: column;
  gap: 0.5rem;
}

.footer__links > a {
  color: var(--color-black);
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer__social > a {
  padding-right: 20px;
  color: var(--color-secondary);
}

.footer__copyright {
  text-align: center;
  padding: 20px 0;
  margin-top: 10px;
  border-top: 1px solid var(--color-gray);
}

/*====================== Responsive Design ======================*/

/*=============== mobile devices ================*/
@media screen and (max-width: 480px) {
  .nav__menu {
    position: fixed;
    right: -80%;
    width: 80%;
    height: 100%;
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color-white);
    top: 5rem;
    padding: 20px;
    transition: .5s;
  }

  .show {
    right: 0;
  }

  .mb-show {
    display: inline-block;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    padding: 5px 10px;
    cursor: pointer;
  }

  .nav__link {
    color: var(--color-primary-accent);
  }

  .home {
    flex-direction: column-reverse;
  }

  .home__data--title {
    font-size: 2rem;
  }

  .about__container {
    flex-direction: column-reverse;
  }

  .about__data--title {
    font-size: 2rem;
  }

  .whychooseus__title {
    font-size: 2rem;
  }

  .whychooseus__data {
    flex-direction: column;
    row-gap: 2rem;
  }

  .services__title {
    font-size: 2rem;
  }

  .services__data {
    flex-direction: column;
  }

  .services__buttons {
    flex-direction: column;
    align-items: center;
  }

  .services__buttons a {
    margin: 0;
  }

  .testimonial__title {
    font-size: 2rem;
  }

  .contact__title {
    font-size: 2rem;
  }
  
  .contact__form input,
  .contact__form textarea {
    width: 100%;
  }

  .footer__container,
  .footer__navigation,
  .footer__links {
    flex-direction: column;
  }
}

/*===================== ipads, tablets ============================*/
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    right: -80%;
    width: 80%;
    height: 100%;
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color-white);
    top: 5rem;
    padding: 20px;
    transition: .5s;
  }

  .show {
    right: 0;
  }

  .mb-show {
    display: inline-block;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    padding: 5px 10px;
    cursor: pointer;
  }

  .nav__link {
    color: var(--color-primary-accent);
  }

  .home {
    flex-direction: column-reverse;
  }

  .home__data--title {
    font-size: 2rem;
  }

  .about__container {
    flex-direction: column-reverse;
  }

  .about__data--title {
    font-size: 2rem;
  }

  .whychooseus__title {
    font-size: 2rem;
  }

  .whychooseus__data {
    flex-direction: column;
    row-gap: 2rem;
  }

  .services__title {
    font-size: 2rem;
  }

  .services__data {
    flex-direction: column;
  }

  .services__buttons {
    flex-direction: column;
    align-items: center;
  }

  .services__buttons a {
    margin: 0;
  }

  .testimonial__title {
    font-size: 2rem;
  }

  .contact__title {
    font-size: 2rem;
  }
  
  .contact__form input,
  .contact__form textarea {
    width: 100%;
  }

  .footer__container,
  .footer__navigation,
  .footer__links {
    flex-direction: column;
  }
}

/*======================= small screen, laptops ==========================*/
@media screen and (max-width: 1024px) {
  .nav__menu {
    position: fixed;
    right: -80%;
    width: 80%;
    height: 100%;
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color-white);
    top: 5rem;
    padding: 20px;
    transition: .5s;
  }

  .show {
    right: 0;
  }

  .mb-show {
    display: inline-block;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    padding: 5px 10px;
    cursor: pointer;
  }

  .nav__link {
    color: var(--color-primary-accent);
  }

  .home {
    flex-direction: column-reverse;
  }

  .home__data--title {
    font-size: 2rem;
  }

  .about__container {
    flex-direction: column-reverse;
  }

  .about__data--title {
    font-size: 2rem;
  }

  .whychooseus__title {
    font-size: 2rem;
  }

  .services__title {
    font-size: 2rem;
  }

  .services__item {
    flex: 50%;
  }

  .services__buttons {
    justify-content: end;
    align-items: center;
  }

  .services__buttons a {
    margin: 0;
  }

  .testimonial__title {
    font-size: 2rem;
  }

  .contact__title {
    font-size: 2rem;
  }
  
  .contact__form input,
  .contact__form textarea {
    width: 100%;
  }

  .footer__container,
  .footer__navigation,
  .footer__links {
    flex-direction: column;
  }
}